/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.hero {
    background-color: #ffa500;
    color: white;
    text-align: center;
    padding: 2rem;
}

.hero h2 {
    font-size: 2rem;
}

.shop-now {
    background-color: #333;
    color: white;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
}

#products {
    padding: 2rem;
    text-align: center;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    background-color: rgb(112, 171, 219);
    padding: 1rem;
    border-radius: 5px;
    width: 30%;
    margin: 1rem;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
